@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        <h1>My Courses and Student Registration Application</h1>
        <nav>
            <ul>
                @if (signInManager.IsSignedIn(User))
                {
                    <li><a href="/Account/Logout">Logout @User.Identity.Name</a></li>
                }
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Student/">Students</a></li>
                <li><a href="/Course/">Courses</a></li>
                <li><a href="/Instructor/">Instructors</a></li>
                <li><a href="/Registration/">Enrollment Registration</a></li>
            </ul>
        </nav>
        <hr />
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
